// 定位position參數
@mixin pos($direction, $val...) {
    $result: ();
    $data: to-upper-case($direction);
    @for $i from 1 through str-length($data) {
        $result: append($result, str-slice($data, $i, $i));
        #{pos-chtext(nth($result, $i))}: #{if(length($val) ==1, $val, nth($val, $i))};
    }
}

@function pos-chtext($data) {
    @if $data== "T" {
        @return top;
    } @else if $data== "R" {
        @return right;
    } @else if $data== "B" {
        @return bottom;
    } @else if $data== "L" {
        @return left;
    }
}


// 圖片替換文字
@mixin imgToTxt {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

// 取消預設樣式
@mixin fullNone {
    background: transparent;
    outline: none;
    border: none;
}

// 文字斷行顯示點點點(參數輸入行數)
@mixin txtChip($row) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
    white-space: normal;
}

// RWD設定
@mixin rwd($data){
    @media screen and (max-width: #{$data}px){
        @content;
    }
}

// 判斷是否能hover(手機或Pc)
@mixin hover {
    @media (any-hover: hover) {
        @content;
    }
}

// 行動裝置專屬設定
@mixin phone {
    @media (pointer: coarse),
    (-moz-touch-enabled: 1),
    screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px){
        @content;
    }
}

// 將純色背景色轉成rgba
@mixin background-opacity($color, $opacity) {
    background: $color;
    background: rgba($color, $opacity);
}

// 取多層map變數
@mixin map-get($style, $val...) {
    $obj: nth($val,1);
    @for $i from 2 through length($val){
        $obj: map-get($obj,nth($val,$i))
    };
    #{$style} : #{$obj};
}

// 漸層按鈕
@mixin gradient-btn($style){
    height: 45px;
    padding: 0 10px;
    border-radius: 45px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    &:active {
        transform: translateY(2px);
    }

    @if $style == 1 {
       background: radial-gradient(circle at 50% -57%, #6ba71a 12%, #abd76e, #50791a, #3f670b);
       box-shadow: 0px -2px 3px #83c132 inset, 0 2px 2px #304f08;
    } @else if $style == 2 {
        background: radial-gradient(circle at 50% -57%,#3b98d5 12%,#88bcdd,#6244EB,#2d1692);
        box-shadow: 0px -2px 3px #88bcdd inset, 0 2px 2px #301999;
    }
    @else if $style == 3 {
        background: radial-gradient(circle at 50% -57%, #a32020 12%, #e38d8d, #c13030, #610707);
        box-shadow: 0px -2px 3px #ff739a inset, 0 2px 2px #610707;
    }
    @else if $style == 4 {
        background: radial-gradient(circle at 50% -57%, #781291 12%, #823f93 , #4f165d , #3d0b49);
        box-shadow: 0px -2px 3px #ac3ec7 inset, 0 2px 2px #0a020c;
    }

    @else if $style == 5 {
        background: linear-gradient(22deg, #410157, #AC19DE 40%,#b9915d, #ffe3bf );
        box-shadow: 0px -2px 3px #ffe3bf inset, 0 2px 2px #88449f;
    }
}