html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  width: 100%;
  height: 100%;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: normal;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: Open,Tahoma,Arial,Helvetica,sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

*:hover, *:focus, *:active {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tt, em {
  font-family: 'Helvetica', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type="button"],
input[type="text"],
input[type="number"],
textarea {
  outline: none;
  font-family: 'Helvetica', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

.nofloat:after {
  content: '';
  display: table;
  clear: both;
}

/* ::-webkit-scrollbar{ 
	width:10px;
	height: 10px;
	background-color:#f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px #f1f1f1 solid;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background .5s linear;
  transition: background .5s linear;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  vertical-align: middle;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(#1b062e), color-stop(#000), color-stop(75%, #000), color-stop(#1c0c34), to(#000));
  background: linear-gradient(90deg, #000, #1b062e, #000, #000 75%, #1c0c34, #000);
}

.logo {
  position: relative;
  overflow: hidden;
}

.logo .txt {
  opacity: 0.4;
  position: relative;
  z-index: 2;
  -webkit-animation: logo-1 4s infinite linear;
          animation: logo-1 4s infinite linear;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.logo .momo {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: logo-2 4s infinite;
          animation: logo-2 4s infinite;
  opacity: 0;
}

.logo .flash {
  width: 35%;
  position: absolute;
  top: 0%;
  left: 16%;
  opacity: 0;
  -webkit-animation: logo-3 4s infinite linear;
          animation: logo-3 4s infinite linear;
}

@-webkit-keyframes logo-1 {
  0% {
    opacity: 0.4;
    -webkit-transform: scaleX(-1) scaleY(0.5);
            transform: scaleX(-1) scaleY(0.5);
  }
  15%, 100% {
    opacity: 1;
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

@keyframes logo-1 {
  0% {
    opacity: 0.4;
    -webkit-transform: scaleX(-1) scaleY(0.5);
            transform: scaleX(-1) scaleY(0.5);
  }
  15%, 100% {
    opacity: 1;
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

@-webkit-keyframes logo-2 {
  0%, 15% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  25%, 100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes logo-2 {
  0%, 15% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  25%, 100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes logo-3 {
  0%, 25%, 70% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.5);
            transform: rotate(0deg) scale(0.5);
  }
  40%, 80% {
    opacity: 1;
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
  }
  55%, 100% {
    opacity: 0;
    -webkit-transform: rotate(360deg) scale(0.5);
            transform: rotate(360deg) scale(0.5);
  }
}

@keyframes logo-3 {
  0%, 25%, 70% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.5);
            transform: rotate(0deg) scale(0.5);
  }
  40%, 80% {
    opacity: 1;
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
  }
  55%, 100% {
    opacity: 0;
    -webkit-transform: rotate(360deg) scale(0.5);
            transform: rotate(360deg) scale(0.5);
  }
}

.slogan {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slogan .logo {
  max-width: 220px;
  margin-bottom: 15px;
}

.slogan p {
  color: #f6a019;
  font-size: 26px;
  font-weight: bold;
}

@media screen and (max-width: 680px) {
  .slogan .logo {
    max-width: 200px;
  }
  .slogan p {
    font-size: 23px;
  }
}

@media screen and (max-width: 450px) {
  .slogan .logo {
    max-width: 160px;
    margin-bottom: 10px;
  }
  .slogan p {
    font-size: 20px;
  }
}

.langList {
  padding: 60px 0 20px;
}

.langList ul {
  max-width: 650px;
  padding: 0 15px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.langList li {
  width: calc(100% / 4);
  padding: 0 10px 40px;
  opacity: 0.4;
  -webkit-filter: grayscale(10);
          filter: grayscale(10);
  cursor: pointer;
}

@media (any-hover: hover) {
  .langList li {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .langList li:hover {
    opacity: 1;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .langList li.on {
    opacity: 1;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

.langList .flag {
  width: 90%;
  margin: 0 auto 8%;
}

.langList .btn {
  padding: 10px;
  border-radius: 40px;
  background: #7502d2;
  -webkit-box-shadow: -2px 3px 20px rgba(255, 255, 255, 0.6) inset, 0 3px 2px #e9a8ff;
          box-shadow: -2px 3px 20px rgba(255, 255, 255, 0.6) inset, 0 3px 2px #e9a8ff;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 680px) {
  .langList {
    padding: 30px 0 20px;
  }
  .langList ul {
    max-width: 500px;
  }
  .langList li {
    width: calc(100% / 3);
    padding: 0 10px 30px;
  }
  .langList .btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .langList li {
    width: calc(100% / 4);
    padding: 0 5px 5px;
  }
  .langList .flag {
    width: 100%;
  }
  .langList .btn {
    font-size: 12px;
    display: none;
  }
}

.mobileSubmit {
  margin: 40px auto 0;
  display: none;
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .mobileSubmit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mobileSubmit .btn {
  width: 150px;
  height: 45px;
  padding: 0 10px;
  border-radius: 45px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: linear-gradient(22deg, #410157, #AC19DE 40%, #b9915d, #ffe3bf);
  -webkit-box-shadow: 0px -2px 3px #ffe3bf inset, 0 2px 2px #88449f;
          box-shadow: 0px -2px 3px #ffe3bf inset, 0 2px 2px #88449f;
}

.mobileSubmit .btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.copyright {
  padding: 10px 10px 20px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 450px) {
  .copyright {
    font-size: 12px;
  }
}
/*# sourceMappingURL=lang.css.map */